body {
  background-color: rgb(214, 214, 214);
}

.btn-delete:hover {
  background-color: transparent;
  color: red;
  border: 1px solid red;
  border-radius: 3px;
}

.update-form {
  position: absolute;
  z-index: 10;
}

input:focus {
  border-bottom: 1px solid royalblue !important;
}

label.active {
  color: #8f8f8f !important;
}

[type='radio']:checked + label:after,
[type='radio'].with-gap:checked + label:after {
  background-color: #000 !important;
}
