body {
  background-color: rgb(214, 214, 214);
}

.btn-delete:hover {
  background-color: transparent;
  color: red;
  border: 1px solid red;
  border-radius: 3px;
}

.edit-property {
  position: absolute;
  z-index: 10;
}
